@page "/disclaimer"
@using BlazorDeploymentTest.Shared.ViewModels
@using Microsoft.Extensions.Localization
@using BlazorDeploymentTest.Shared.Enumerations
@using BlazorDeploymentTest.Shared.Components
@inject IStringLocalizer<ProgramStrings> programStrings
@inject DisclaimerViewModel DisclaimerViewModel



<style>
    .scrollableTextbox {
        height:300px;
        width:80%;
        font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
        font-size: 82%;
        overflow:scroll;
    }
</style>

<PageTitle>Disclaimer</PageTitle>

<h1>@programStrings["ProgramName"]</h1>

<div style="text-align: left">
    <img alt="holos logo" src="logo.png" width="200" />
</div>

<br>

<div style="display:flex; flex-direction: row">
    
    <div style="width: 600px">
        <h4>@programStrings["SelectLanguageText"]</h4>
    </div>
    
    <div style="width: 150px">
        <CultureSelector />
    </div>

</div>

<p>@programStrings["HolosDescriptionText"]</p>

<br>

<p>@programStrings["EmailSubscriptionText"]</p>

<br>




<h4>@programStrings["DisclaimerHeading"]</h4>

<div style="">
    <textarea class="scrollableTextbox">@programStrings["DisclaimerText"]</textarea>
</div>

<br/>
<br/>

<div style="text-align: right">
    <img alt="canada government logo" src="canada_gov_logo.png" width="200"/>
</div>

@code {

}
